.title-big {
    color: #353535;
    font-weight: bold;
    font-size: 1.9rem;
    text-align: center;
    margin-top: 2.5rem;
    direction: rtl;
    transition: all 0.3s;
    width: 98%;
}

.title-md{
    color: #454545;
    font-weight: bold;
    font-size: 1.9rem;
    text-align: center;
    margin-top: 3.5rem;
    direction: rtl;
    transition: all 0.3s;
    width: 98%;
}
.text-md {
    margin-top: 3.5rem;
    color: #454545;
    text-align: center;
    
    width: 98%;
    direction: rtl;
    font-weight: 500;
    transition: all 0.3s;
}
.dotted{
    color: #45454569;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2rem 0 0,-2rem  0 0;
    margin-top: 3.5rem;
}
.title-big:hover,.title-md:hover{
    color: #2196F3;
}

.b-dotted{
    border-top:0.6rem dotted #45454527;
    border-bottom:0.6rem dotted #45454527;
    padding: 2rem 0;
    color: #454545;
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
    margin: auto;
    margin-top: 3.5rem;
    direction: rtl;
    transition: all 0.3s;
    width: 95%;
    
}
.text-dotted{
    border-top:0.6rem dotted #45454527;
    border-bottom:0.6rem dotted #45454527;
    padding: 2rem 0;
    color: #353535;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
    margin-top: 3.5rem;
    direction: rtl;
    transition: all 0.3s;
    width: 95%;
}